@model CNW_WebBanQuanAo.Models.PHANHOI

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PHANHOI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TAIKHOAN.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TAIKHOAN.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TieuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TieuDe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayGui)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayGui)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaPH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
