@model CNW_WebBanQuanAo.Models.NHASANXUAT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NHASANXUAT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model[0].TenNSX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model[0].TenNSX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model[0].DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model[0].DiaChi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = model[0].MaNSX }) |
    @Html.ActionLink("Back to List", "Index")
</p>
