@{
    ViewBag.Title = "Shop";
}

@using CNW_WebBanQuanAo.Models;
@model PagedList.IPagedList<CNW_WebBanQuanAo.Models.MATHANG>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@*@model IEnumerable<MATHANG>*@

<section id="advertisement">
    <div class="container">
        <img src="~/Content/images/shop/advertisement.jpg" alt="" />
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            @Html.Action("LeftMenu")

            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">Sản phẩm đang bán</h2>
                    <div>
                        <span>Ưu tiên xem: </span>
                        <ul>
                            <li class="right-item">
                                @Html.ActionLink("GIÁ THẤP", "Shop", new { SortOrder = "asc" })
                            </li>
                            <li class="right-item">
                                @Html.ActionLink("GIÁ CAO", "Shop", new { SortOrder = "desc" })
                            </li>
                            <li class="right-item"><a>BÁN CHẠY</a></li>
                        </ul>
                    </div>
                    @foreach (MATHANG it in Model)
                    {
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="~/Content/images/sanpham/@it.UrlAnh" alt="" />
                                        <h2>@it.GiaBan ₫</h2>
                                        <p>@it.TenMH</p>
                                        <span href="" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>@Html.ActionLink("Thêm vào giỏ", "AddItem", "Cart", new { id = it.MaMH, returnURL = Request.Url.AbsoluteUri }, null)</span>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2>@it.GiaBan</h2>
                                            <p>@it.TenMH</p>
                                            <span href="" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>@Html.ActionLink("Thêm vào giỏ", "AddItem", "Cart", new { id = it.MaMH, returnURL = Request.Url.AbsoluteUri }, null)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="choose">
                                    <ul class="nav nav-pills nav-justified">
                                        @*<li><a href=""><i class="fa fa-plus-square"></i>Thêm vào yêu thích</a></li>*@
                                        <li><a href=""><i class="fa fa-plus-square"></i>Thêm vào yêu thích</a></li>
                                        <li><a href=""><i class="fa fa-plus-square"></i>So sánh</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                    <br />
                    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) trên @Model.PageCount

                    @Html.PagedListPager(Model, page => Url.Action("Shop",
                        new { page, sortOrder = ViewBag.CurrentSort}))
                </div><!--features_items-->
            </div>
        </div>
    </div>
</section>

