@model CNW_WebBanQuanAo.Models.MATHANG

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa bỏ mặt hàng</h2>

<h3>Bạn chắc chắn muốn bỏ mặt hàng này khỏi dữ liệu của mình chứ?</h3>
<div>
    <h4>Mặt hàng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NHASANXUAT.TenNSX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHASANXUAT.TenNSX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NHASANXUAT1.TenNSX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHASANXUAT1.TenNSX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenMH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenMH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrlAnh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KieuDang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KieuDang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChatLieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChatLieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBan)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Trở lại trang danh sách", "Index")
        </div>
    }
</div>
