@model CNW_WebBanQuanAo.Models.MATHANG

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MATHANG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model[0].NHASANXUAT.TenNSX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model[0].NHASANXUAT.TenNSX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model[0].NHASANXUAT1.TenNSX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model[0].NHASANXUAT1.TenNSX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model[0].TenMH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model[0].TenMH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model[0].UrlAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model[0].UrlAnh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model[0].KieuDang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model[0].KieuDang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model[0].ChatLieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model[0].ChatLieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model[0].GiaBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model[0].GiaBan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = model[0].MaMH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
