
@{
    ViewBag.Title = "Checkout";
}
@using CNW_WebBanQuanAo.Models;
@model Cart

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Trang chủ</a></li>
                <li class="active">Thanh toán</li>
            </ol>
        </div><!--/breadcrums-->

        <div class="step-one">
            <h2 class="heading">Bước 1</h2>
        </div>
        <div class="checkout-options">
            <h3>Người dùng mới</h3>
            <p>Tùy chọn thanh toán</p>
            <ul class="nav">
                <li>
                    <label><input type="checkbox"> Đăng kí tài khoản</label>
                </li>
                <li>
                    <label><input type="checkbox"> Thanh toán khách</label>
                </li>
                <li>
                    <a href=""><i class="fa fa-times"></i>Hủy</a>
                </li>
            </ul>
        </div><!--/checkout-options-->

        <div class="register-req">
            <p>Vui lòng sử dụng Đăng ký và Thanh toán để dễ dàng truy cập vào lịch sử đặt hàng của bạn hoặc sử dụng Checkout với tư cách là Khách</p>
        </div><!--/register-req-->

        <div class="shopper-informations">
            <div class="row">
                <div class="col-sm-3">
                    <div class="shopper-info">
                        <p>Thông tin người mua</p>
                        <form>
                            <input type="text" placeholder="Tên hiển thị">
                            <input type="text" placeholder="Tên đăng nhập">
                            <input type="password" placeholder="Mật khẩu">
                            <input type="password" placeholder="Xác nhận mật khẩu">
                        </form>
                        <a class="btn btn-primary" href="">Gửi mã</a>
                        <a class="btn btn-primary" href="">Tiếp tục</a>
                    </div>
                </div>
                <div class="col-sm-5 clearfix">
                    <div class="bill-to">
                        <p>Gửi tới</p>
                        <div class="form-one">
                            <form>
                                <input type="text" placeholder="Số điện thoại">
                                <input type="text" placeholder="Địa chỉ">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="order-message">
                        <p>Vận chuyển</p>
                        <textarea name="message" placeholder="Ghi chú về đơn hàng của bạn, Ghi chú đặc biệt khi giao hàng" rows="16"></textarea>
                        <label><input type="checkbox"> Vận chuyển đến địa chỉ hóa đơn</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="review-payment">
            <h2>Xem lại và thanh toán</h2>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Sản phẩm</td>
                        <td class="description"></td>
                        <td class="price">Giá</td>
                        <td class="quantity">Số lượng</td>
                        <td class="total">Thành tiền</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CartItem it in Model.LineCollection)
                    {
                        <tr>
                            <td class="cart_product">
                                <a href="~/Product/Detail?id=@it.tTSANPHAM.MaMH"><img src="~/Content/images/sanpham/@it.tTSANPHAM.UrlAnh" alt="" style="width:100px; height:100%;"></a>
                            </td>
                            <td class="cart_description">
                                <h4><a href="">@it.tTSANPHAM.TenMH</a></h4>
                                <p>Mã sản phẩm: @it.tTSANPHAM.MaMH</p>
                                <p>Màu: @it.tTSANPHAM.MaMau</p>
                                <p>Size: @it.tTSANPHAM.MaSize</p>
                            </td>
                            <td class="cart_price">
                                <p>@it.tTSANPHAM.GiaBan ₫</p>
                            </td>
                            <td class="cart_quantity">
                                <div class="cart_quantity_button">
                                    <a class="cart_quantity_up" href=""> - </a>
                                    <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                                    <a class="cart_quantity_down" href=""> + </a>
                                </div>
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price">@it.tTSANPHAM.GiaBan 000 ₫</p>
                            </td>
                            <td class="cart_delete">
                                <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    }

                    <tr>
                        <td colspan="4">&nbsp;</td>
                        <td colspan="2">
                            <table class="table table-condensed total-result">
                                <tr>
                                    <td>Tổng số giỏ hàng</td>
                                    <td>@Model.TotalMoney 000₫</td>
                                </tr>
                                <tr class="shipping-cost">
                                    <td>Phí vận chuyển</td>
                                    <td>Miễn phí</td>
                                </tr>
                                <tr>
                                    <td>Tổng cộng</td>
                                    <td><span>@Model.TotalMoney 000₫</span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="payment-options">
            <span>
                <label><input type="checkbox"> Chuyển tiền trực tiếp<br /> qua ngân hàng</label>
            </span>
            <span>
                <label><input type="checkbox">Kiểm tra thanh<br /> toán trực tiếp</label>
            </span>
        </div>
    </div>
</section> <!--/#cart_items-->
