
@{
    ViewBag.Title = "XemDon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@using CNW_WebBanQuanAo.ViewModel;
@using CNW_WebBanQuanAo.Models;
@using CNW_WebBanQuanAo.Controllers;
@using PagedList;
@using PagedList.Mvc;



@model PagedList<xemgiohang>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>XEM ĐƠN HÀNG</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/css/price-range.css" rel="stylesheet">
    <link href="~/Content/css/animate.css" rel="stylesheet">
    <link href="~/Content/css/main.css" rel="stylesheet">
    <link href="~/Content/css/responsive.css" rel="stylesheet">
    <link rel="shortcut icon" href="~/Content/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-md-4 clearfix">
                        <div class="logo pull-left">
                            <a href="index.html"><img src="images/home/logo.png" alt="" /></a>
                        </div>

                    </div>
                    <div class="col-md-8 clearfix">
                        <div class="shop-menu clearfix pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href=""><i class="fa fa-user"></i> Tài khoản</a></li>
                                <li><a href=""><i class="fa fa-star"></i> Sản phẩm yêu thích</a></li>
                                <li><a href="#"><i class="fa fa-crosshairs"></i> Thanh toán</a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i> Giỏ hàng</a></li>
                                <li><a href="#"><i class="fa fa-lock"></i> Đăng nhập</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->


    </header><!--/header-->

    <div class="container">


        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="price">Mã hóa đơn</td>
                        <td class="image">Sản phẩm</td>
                        <td class="description">Tên mặt hàng</td>

                        <td class="price">Tên màu</td>
                        <td class="price">Mã size</td>

                        <td class="quantity">Số lượng</td>
                        <td class="price">Giá</td>

                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (xemgiohang it in Model)
                    {
                        <tr>
                            <td class="cart_price">
                                <p>@it.Mahd</p>
                            </td>
                            <td class="cart_product">
                                <img src="~/Content/images/sanpham/@it.url" alt="">
                            </td>
                            <td class="cart_description">
                                <h4><a href="">@it.tenmh</a></h4>
                                <p>@it.MaQa</p>
                            </td>
                            <td class="cart_price">
                                <p>@it.tenmau</p>
                            </td>
                            <td class="cart_price">
                                <p>@it.size</p>
                            </td>

                            <td class="cart_price">
                                <p>@it.so</p>
                            </td>
                            <td class="cart_price">
                                <p>@it.Gia</p>
                            </td>


                        </tr>
                    }

                </tbody>
            </table>
            @Html.PagedListPager(Model, sotrang => Url.Action("XemDon", new { Page = sotrang }))
        </div>
    </div>

</body>
</html>





