@model CNW_WebBanQuanAo.Models.SANPHAM

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa sản phẩm</h2>

<h3>Bạn có chắc muốn xóa sản phẩm này không?</h3>
<div>
    <h4>Sản phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MATHANG.TenMH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MATHANG.TenMH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAU.TenMau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAU.TenMau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SIZE.MaSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SIZE.MaSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Quay trở lại trang danh sách", "Index")
        </div>
    }
</div>
