@model CNW_WebBanQuanAo.Models.SANPHAM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SANPHAM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model[0].MATHANG.TenMH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model[0].MATHANG.TenMH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model[0].MAU.TenMau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model[0].MAU.TenMau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model[0].SIZE.MaSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model[0].SIZE.MaSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model[0].SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model[0].SoLuong)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = model[0].MaQA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
